body {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 3rem;
    text-align: center;
    background-color: aqua;
}

p {
    font-size: large;
    color: rgb(47, 53, 53);
    text-align: center;
}