
 #header { 
    margin-bottom: 5px;
    border-width:5px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;   
    font-size: xx-large; 
    text-decoration:overline;                                                                                                          ;
}  

.all{
    border-style:solid; 
    margin-bottom: 5px;
    border-width:5px;
    border-color:red;
    padding: 10px;
}
